.atom { color: aquamarine; }
.bracket { color: darkmagenta; }
.builtin { color: aquamarine; }
.keyword { color: brown; }
.number { color: darkolivegreen; }
.punctuation { color: chartreuse; }
.variable { color: dimgrey; }